.castDetail {
    width: fit-content;
    height: auto;
    display: flex;
    gap: 10px;
    margin: 20px 0 0 0;
}

.charImg {
  width: 100px;
  height: 100px;
  
}
.charImg img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.actor {
  width: fit-content;
  height: 100px;
  
}

.actor h2, .actor h3{
  margin: 10px;
  /* text-decoration: none; */
  color: white;
}

