.circleRating {
  background-color: white;
  border-radius: 50%;
  padding: 2px;
}
.circleRating > .CircularProgressbar-text {
  font-size: 34px;
  font-weight: 900;
  fill: black;
}
.circleRating > .CircularProgressbar-trail {
  stroke: transparent;
}
