.circleRating {
  border-radius: 50%;
  padding: 2px;
}
.circleRating > .CircularProgressbar-text {
  font-size: 34px;
  font-weight: 900;
  fill: black;
}
.circleRating > .CircularProgressbar-trail {
  stroke: transparent;
}
.circleRating > .rating {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  color: black;
}
